name: MPAS Dynamical Core CI

permissions:
  contents: read

on:
  pull_request:
    paths:
      # Only run this workflow if something changes in MPAS dynamical core. Skip otherwise.
      - 'src/dynamics/mpas/**'
    types:
      - opened
      - reopened
      - synchronize
  push:
    branches:
      - 'staging/**'
      - development
    paths:
      # Only run this workflow if something changes in MPAS dynamical core. Skip otherwise.
      - 'src/dynamics/mpas/**'
  workflow_dispatch:

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }} - ${{ github.ref }}

jobs:
  unit-tests:
    name: Build and run unit tests (GCC ${{ matrix.gcc-version }})
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        gcc-version:
          - '12'
          - '13'
          - '14'
    runs-on: ubuntu-24.04
    env:
      CC: gcc-${{ matrix.gcc-version }}
      CXX: g++-${{ matrix.gcc-version }}
      FC: gfortran-${{ matrix.gcc-version }}
      PFUNIT_BUILD_TYPE: Release
      PFUNIT_PATH: ${{ github.workspace }}/pFUnit
      PFUNIT_REFERENCE: 'v4.13.0'
      UNIT_TESTS_BUILD_TYPE: Debug
      UNIT_TESTS_PATH: ${{ github.workspace }}/src/dynamics/mpas
    steps:
      - name: Checkout CAM-SIMA
        uses: actions/checkout@v5

      # pFUnit takes a while to build. Cache it if possible to save time on consecutive workflow runs.
      - name: Cache pFUnit
        id: cache-pfunit
        uses: actions/cache@v4
        with:
          key: cache-pfunit-${{ env.PFUNIT_REFERENCE }}-gcc-v${{ matrix.gcc-version }}
          path: ${{ env.PFUNIT_PATH }}/install

      # If there is a cache hit, just use the cached pFUnit and skip this step.
      - name: Checkout pFUnit
        if: ${{ steps.cache-pfunit.outputs.cache-hit != 'true' }}
        uses: actions/checkout@v5
        with:
          repository: Goddard-Fortran-Ecosystem/pFUnit
          ref: ${{ env.PFUNIT_REFERENCE }}
          path: pFUnit

      # If there is a cache hit, just use the cached pFUnit and skip this step.
      - name: Build pFUnit
        if: ${{ steps.cache-pfunit.outputs.cache-hit != 'true' }}
        run: |
          cmake -D CMAKE_BUILD_TYPE="$PFUNIT_BUILD_TYPE" -D CMAKE_INSTALL_PREFIX="$PFUNIT_PATH/install" -B "$PFUNIT_PATH/build" -S "$PFUNIT_PATH"
          cmake --build "$PFUNIT_PATH/build" --config "$PFUNIT_BUILD_TYPE"
          cmake --install "$PFUNIT_PATH/build" --config "$PFUNIT_BUILD_TYPE" --prefix "$PFUNIT_PATH/install"

      - name: Build unit tests
        run: |
          cmake -D CMAKE_BUILD_TYPE="$UNIT_TESTS_BUILD_TYPE" -D CMAKE_PREFIX_PATH="$PFUNIT_PATH/install" -B "$UNIT_TESTS_PATH/build" -S "$UNIT_TESTS_PATH"
          cmake --build "$UNIT_TESTS_PATH/build" --config "$UNIT_TESTS_BUILD_TYPE"

      - name: Run unit tests
        run: |
          ctest --build-config "$UNIT_TESTS_BUILD_TYPE" --output-log "$UNIT_TESTS_PATH/build/unit-tests.log" --output-on-failure --test-dir "$UNIT_TESTS_PATH/build" --verbose

      - name: Upload unit tests log
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          if-no-files-found: ignore
          name: unit-tests-log-gcc-v${{ matrix.gcc-version }}
          path: ${{ env.UNIT_TESTS_PATH }}/build/unit-tests.log
          retention-days: 7
